.calculator__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 15px;
    background-color: #333;
    border-radius: 10px;
    width: 30%;
    margin: auto;
    margin-top: 5%;
}

.display {
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: #fff;
    padding: 30px;
    font-size: 24px;
    text-align: right;
    border-radius: 5px;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    grid-column: span 1;
    grid-row: span 1;
}

button:hover {
    background-color: #ddd;
    transition: 0.1s ease-in-out;
}

.number {
    background-color: #f8f8f8;
    height: 80px;
}

.number:hover {
    background-color: #ffffff;
}

.clear {
    background-color: #ff6666;
    color: #fff;
}

.clear:hover {
    background-color: #f84848;
    transition: 0.1s ease-in-out;
}

.key--equal {
    grid-column: 4;
    grid-row: span 4;
    background-color: #66cc66;
    color: #fff;
}
.key--equal:hover {
    background-color: #4aca4a;
}

@media screen and (max-width: 575px) {
    .calculator__keys {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      width: 80%;
      grid-gap: 5px;
      margin-top: 25%;
    }
    .number {
      height: 80px;
      grid-gap: 5px;
    }
    button {
      font-size: 18px;
    }
    .display {
      font-size: 18px;
      padding: 30px;
      grid-column: 1 / -1;
    }
  }